<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: a way for tests to put a call on another network. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="com.yaz.dialer.DebugNetworkReceiver" android:exported="true" />
        <receiver android:name="com.yaz.dialer.DebugLookReceiver" android:exported="true" />
    </application>
</manifest>
